**GETTING USER INPUT**

In [24]:
Age = input("Enter your age:")
print(type(Age))
#print(Age+1)

Enter your age:45
<class 'str'>

In [ ]:
Age = int(input("Enter your age:"))
print(type(Age))
print(Age+1)

Enter your age:12
<class 'int'>

**STRING** **FORMATTING**

In [34]:
#Multiple statements
'''
print(" this is created \
to check multiple statements \
in python \
  ")
'''
Id = \
2
print(Id)

2

In [32]:

Name='Jen'
print("I'm",Name)
print(f"{Name} is a CS Grad")
print("How are you?, {}".format(Name))

I'm Jen
Jen is a CS Grad
How are you?, Jen

**BASIC OPERATORS**

In [20]:
a=3
b=5
print("The sum is",a+b)
print("The difference is",a-b)
print(f"{a} times {b} is {a*b}")
print("The Quotient is",a/b)
print("The Remainder is",a%b)
print(f"{a} to the power {b} is {a**b}")
print("The result of floor division is",a//b)

The sum is 8
The difference is -2
3 times 5 is 15
The Quotient is 0.6
The Remainder is 3
3 to the power 5 is 243
The result of floor division is 0

**CONDITIONAL STATEMENTS**

In [22]:
x=23
if x==10:
  print(f"The number is {x}")
elif x>10 and x<=30:
  print("The number is between 10 and 30")
else:
  print(f"The number is {x}. Not equal to 10")

The number is between 10 and 30

**FOR** **LOOP**

In [28]:
l=['a','b','c']
for i in l:
  print(i)
print("Using Range Function")
for i in range(0,len(l)):
  print(l[i])
print("Loops using Steps")  
for i in range(0,len(l),2):
  print(l[i])

a
b
c
Using Range Function
a
b
c
Loops using Steps
a
c

**WHILE** **LOOP**

In [3]:
num=1
while num<=10:
  print(num)
  num+=1

1
2
3
4
5
6
7
8
9
10

**LIST**

In [ ]:
#Adding an element to the list
name=['Rolf','Ben','Charlie','Zen']
Stud=[]
for i in name:
  Stud.append(i)
print(Stud)
print(type(Stud))
Stud.append('Adam')
print(Stud)

['Rolf', 'Ben', 'Charlie', 'Zen']
<class 'list'>
['Rolf', 'Ben', 'Charlie', 'Zen', 'Adam']

In [ ]:
#Removing an element from list
Stud.remove('Ben')
print(Stud)

['Rolf', 'Charlie', 'Zen', 'Adam']

In [10]:
Even_Numbers = []
for i in range(1,20):
  if i%2==0:
    Even_Numbers.append(i)
print(Even_Numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
0.0001876354217529297

**LIST COMPREHENSION**

In [11]:
Even_Numbers=[i for i in range(1,20) if i%2==0 ]
print(Even_Numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18]
0.0004100799560546875

In [ ]:
#List of Lists
friends = [
    ["Rolf", 24],
    ["Bob", 30],
    ["Anne", 27],
    ["Charlie", 37],
    ["Jen", 25],
    ["Adam", 29],
]

friends.append(["Steve",23])
print(friends)

[['Rolf', 24], ['Bob', 30], ['Anne', 27], ['Charlie', 37], ['Jen', 25], ['Adam', 29], ['Steve', 23]]

In [ ]:
friends.remove("Bob")
print(friends)

[['Rolf', 24], ['Bob', 30], ['Anne', 27], ['Charlie', 37], ['Jen', 25], ['Adam', 29], ['Steve', 23], 'Hanna']

In [ ]:
friends.append('Hanna')
print(friends)

[['Rolf', 24], ['Bob', 30], ['Anne', 27], ['Charlie', 37], ['Jen', 25], ['Adam', 29], ['Steve', 23], 'Hanna', 'Hanna']

**TUPLES**

In [ ]:
Tuple1=('Happy','Energetic','Positive',1,3,2)
Tuple2=(23,13,24)
#Concating the tuple
print(Tuple1+Tuple2)

('Happy', 'Energetic', 'Positive', 1, 3, 2, 23, 13, 24)

In [ ]:
Tuple1+=('5',)
print(Tuple1)
#Deleting a single element from tuple is not possible
del Tuple2[0] 
print(Tuple2)

('Happy', 'Energetic', 'Positive', 1, 3, 2, '5', '5')

TypeError: ignored

In [ ]:
#Convert tuple as list and delete an element
L=list(Tuple2)
print(L)
L.remove(L[0])
print(L)

[23, 13, 24]
[13, 24, 'nivetha']

In [ ]:
print(len(Tuple1))
print(max(Tuple2))

8
24

**SETS**

In [35]:
#Adding Values to Sets 
Set1={"apple", "banana", "cherry","apple"}
Set1.add("PineApple")
print(Set1)
Set1.update(["orange","Mango"])
print(Set1)

{'banana', 'cherry', 'apple', 'PineApple'}
{'apple', 'banana', 'PineApple', 'orange', 'Mango', 'cherry'}

In [ ]:
#Removing an element from the set
Set1.remove("orange")
print(Set1)

#Removing an element not present in set gives error
Set1.remove("orange")

KeyError: ignored

In [ ]:
#Discarding an element not present in set doesn't raise an error.
Set1.discard("orange")
print(Set1)

{'cherry', 'PineApple', 'Mango', 'banana', 'apple'}

In [ ]:
#Set Operations
Set2={"Tomato","Potato","apple"}
print(Set1.union(Set2))
print(Set1.intersection(Set2))
print(Set1.symmetric_difference(Set2))

{'PineApple', 'apple', 'Potato', 'Mango', 'Tomato', 'banana', 'cherry'}
{'apple'}
{'cherry', 'PineApple', 'Potato', 'Mango', 'Tomato', 'banana'}

**DICTIONARY**

In [ ]:
#Creating a Dictionary
friend_ages = {"Rolf": 24, "Adam": 30, "Anne": 27}
print(friend_ages["Rolf"])

24

In [ ]:
#Adding new element
friend_ages["Bob"] = 20
print(friend_ages)

{'Rolf': 24, 'Adam': 30, 'Anne': 27, 'Bob': 20}

In [ ]:
#Modifying existing element
friend_ages["Anne"]=30
print(friend_ages)

{'Rolf': 24, 'Adam': 30, 'Anne': 30, 'Bob': 20}

In [ ]:
#iterating using a key value pair.
for name,age in friend_ages.items():
  print(f"{name} is {age} years old")

Rolf is 24 years old
Adam is 30 years old
Anne is 27 years old
Bob is 20 years old

In [ ]:
#iterating over using keys.
for name in friend_ages.keys():
  print(f"{name} is {friend_ages[name]} years old")

Rolf is 24 years old
Adam is 30 years old
Anne is 27 years old
Bob is 20 years old

In [ ]:
#remove an element from dictionary
del friend_ages['Adam']
print(friend_ages)

{'Rolf': 24, 'Anne': 30, 'Bob': 20}

In [14]:
#Modifying a Dictionary
prices = {'apple': 40, 'orange': 35, 'banana': 25}
for k, v in prices.items():
    prices[k] = round(v * 0.9, 2) 
print(prices)

{'apple': 36.0, 'orange': 31.5, 'banana': 22.5}

**FUNCTIONS**

A parameter is the variable listed inside the parentheses in the function definition. An argument is the value that are sent to the function when it is called.

In [16]:
#Functions without Parameters

def greetings():
  return "Hello World"


text=greetings()
print(text)

Hello World

In [ ]:
#Functions with parameters
def Sum(a,b): #Parameters
  return a+b

Result=Sum(3,5) #Arguments
print(Result)

8

**DEFAULT ARGUMENTS**
            
          Default arguments should not be followed by a non-default arguments. Arguments should be made default from the right side only.

In [ ]:
def Sum(a,b,c=10):
  return a+b+c
Result=Sum(3,5)
print(Result)

18

**LAMBDA FUNCTIONS**

In [ ]:
# Lambda is used when a function is needed for a short time
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [ ]:
#Using lambda inside a function
def Sum(n):
  return lambda a,b,c : (a+b+c)*n

Val=Sum(10)  
print(Val(1,2,3))

60

**FILTER**

In [ ]:
#Filtering out vowels from a Sequence without using a lambda function.
def fun(variable): 
    letters = ['a', 'e', 'i', 'o', 'u'] 
    if (variable in letters): 
        return True
    else: 
        return False
  

sequence = ['g', 'e', 'u', 'j', 'i', 's', 'p', 'r'] 
  

filtered = filter(fun, sequence) 
print(list(filtered))

['e', 'u', 'i']

In [ ]:
#using lambda in filter
letters = ['a', 'e', 'i', 'o', 'u'] 
seq = ['g', 'e', 'u', 'j', 'i', 's', 'p', 'r'] 

results=filter(lambda seq:seq in letters,seq )
print(list(results))

['e', 'u', 'i']

**MAP**

In [ ]:
#Function without using map and lambda
def ChangeCase(Names):
  ChangedCase=[]
  for i in Names:
    ChangedCase.append(i.title())
  return ChangedCase 

Names=['albert jones','alfred nobel','thomas edison','usain bolt']
Result=ChangeCase(Names)
print(Result)

['Albert Jones', 'Alfred Nobel', 'Thomas Edison', 'Usain Bolt']

In [ ]:
#Same Function with Map and Lambda
Names=['albert jones','alfred nobel','thomas edison','usain bolt']
Result=map(lambda t: t.title(),Names)
print(list(Result))

['Albert Jones', 'Alfred Nobel', 'Thomas Edison', 'Usain Bolt']